<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUCD</title>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/styleabout.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="static/css//img/logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="ourteam">Our Team</a></li>
                </ul>
            </nav>
            </div>
            
        <div class="main">
           <img src="/static/css/img/about.jpeg" alt="">
        <div class="text">
            <h1>About Aplication</h1>
            <p>
                LUCD merupakan web aplikasi klasifikasi gambar yang menggunakan teknologi AI yaitu menggunakan pemodelan deep learning salah satunya yaitu model CNN dengan ResNET50. sehingga hasil dari prediksinya sangat akurat. LUCD terbentuk karena perubahan penggunaan lahan atau tutupan lahan (Land Cover) . LUCD dapat digunakan untuk deteksi perubahan penggunaan lahan secara real-time dengan akurasi tinggi. Aplikasi ini dirancang untuk mengatasi permasalahan akurasi dalam sistem informasi geospasial yang sering menjadi penghambat dalam proyek pembangunan infrastruktur.
                <br><br>
                Aplikasi ini dirancang untuk memudahkan pengguna dalam memahami dan menganalisis perubahan penggunaan lahan dengan cara yang intuitif dan efisien.
            </p>
            <div class="button">
                <a href="/land" class="btn btn1">Detail Land Cover</a>
                <a href="/pdf" class="btn btn2">journal article</a>
            </div>
        </div>
        </div>
        </div>  
    </div> 
</body>
</html>