<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUCD</title>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/stylehome.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="static/css/img/logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="ourteam">Our Team</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <h1>LUCD</h1>
                <p>
                    Perubahan penggunaan lahan atau tutupan lahan (Land Cover) merupakan hal yang umum terjadi, baik dalam bidang pengembangan kota dan wilayah, serta pengelolaan sumber daya alam. Hal ini dikarenakan banyaknya fasilitas-fasilitas pendukung seperti sekolah, kantor, pasar dan industri yang dapat mendukung atau memudahkan jangkauan masyarakat terhadap pertumbuhan penduduk. Maka dari itu dibuatlah web ini untuk mengklasifikasi gambar menggunakan teknologi AI
                    
                    <a href="index"><button type="button">Classification</button></a>
                </p>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>Annual Corp</h5>
                </div>
                <div class="card card2">
                    <h5>Forest</h5>
                </div>
                <div class="card card3">
                    <h5>Sealake</h5>
                </div>
                <div class="card card4">
                    <h5>industrial</h5>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>