<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUCD</title>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/styleland.css')}}>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="static/css/img/logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="about">Back</a></li>
                </ul>
            </nav>
            </div>
            <div class="container1">
            <div class="row">
                <div class="col">
                    <div class="card card1">
                        <h5>Annual Corp</h5>
                    </div>
                    <div class="card card2">
                        <h5>Forest</h5>
                    </div>
                    <div class="card card3">
                        <h5>Herbaceous Vegetation</h5>
                    </div>
                    <div class="card card4">
                        <h5>Highway</h5>
                    </div>
                    <div class="card card5">
                        <h5>Industrial</h5>
                    </div>
                </div>
                <div class="col">
                    <div class="card card6">
                        <h5>Pasture</h5>
                    </div>
                    <div class="card card7">
                        <h5>Permanent Crop</h5>
                    </div>
                    <div class="card card8">
                        <h5>Residential</h5>
                    </div>
                    <div class="card card9">
                        <h5>River</h5>
                    </div>
                    <div class="card card10">
                        <h5>Sea Lake</h5>
                    </div>
                </div>
            </div>
            </div>
    </div> 
</body>
</html>